<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>Hacker Assessor</title>
  </head>
  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <% if session[:hacker_id] %>
      <%= link_to 'LOG OUT', signout_path, method: :delete %>
    <% end %>

    <section>
      <aside>
        <!-- img src="assets/logo.svg" alt="Hacker Assessor" class="logo" -->
        <%= form_tag login_path do |f| %>
          <%= text_field_tag :email %>
          <%= password_field_tag :password %>
          <a href="#"><small>Forgot your password?</small></a>
          <%= submit_tag 'LOG IN' %>
        <% end %>
      </aside>
      <article ></article>
    </section>
    <!-- script src="/js/bundle.js" charset="utf-8"></script -->
  </body>
</html>
