<%= form_for(@acquirement) do |f| %>
  <% if @acquirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acquirement.errors.count, "error") %> prohibited this acquirement from being saved:</h2>

      <ul>
      <% @acquirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill %>
    <%= f.skill_select %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.skill_level_select %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
