<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @acquirement.level %>
</p>

<p>
  <strong>Hacker:</strong>
  <%= @acquirement.hacker %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @acquirement.skill %>
</p>

<%= link_to 'Edit', edit_acquirement_path(@acquirement) %> |
<%= link_to 'Back', acquirements_path %>
