<%= form_for(@seniority) do |f| %>
  <% if @seniority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seniority.errors.count, "error") %> prohibited this seniority from being saved:</h2>

      <ul>
      <% @seniority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <fieldset>
    <leyend>Requirements</leyend>
    <%= f.fields_for :requirements, child_index: '' do |rf| %>
      <fieldset>
        <div class="field">
          <%= rf.label :skill %>
          <%= rf.collection_select :skill_id, Skill.all, :id, :name, prompt: true %>
        </div>

        <div class="field">
          <%= rf.label :level %>
          <%= rf.skill_level_select %>
        </div>
      </fieldset>
    <% end %>
    <button id="addMore" type="button">Add more requirements</button>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
