<p id="notice"><%= notice %></p>

<h1>Listing Seniorities</h1>

<ul class="seniorities">
  <% @seniorities.each do |seniority| %>
    <li>
      <h2><%= seniority.name %></h2>
      <%= link_to 'Show', seniority %>
      <%= link_to 'Edit', edit_seniority_path(seniority) %>
      <%= link_to 'Destroy', seniority, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  <li class="content-center"><%= link_to 'New Seniority', new_seniority_path %></li>
</ul>

