<p id="notice"><%= notice %></p>

<h1><%= @seniority.name %></h1>

<p>This you need to become a <%= @seniority.name %>.</p>

<ul class="requirements">
  <% @seniority.requirements.each do |requirement| %>
    <% acquirement = current_hacker.acquirements.find_by(skill: requirement.skill) %>
    <li class="<%= assign_class requirement, acquirement %>">
      <h3><%= requirement.skill.name %></h3>
      <p>Required level: <%= requirement.level %></p>
      <% if acquirement %>
        <p>Your level: <%= acquirement.level %></p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', seniorities_path %>
