<h1>Welcome <%= current_hacker.name %></h1>
<p><strong>Your current seniority is</strong>:
   <%= current_hacker.seniority %> in the career of <%= current_hacker.career.name %>.</p>
<h1>To reach <%= current_hacker.seniority.next %> this are the missing skills:</h1>

<ul class="requirements">
  <%= render current_hacker.missing_requirements_for_next_seniority %>
</ul>
