<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacker Assessor | <%= hacker.name %> Status</title>
  </head>
  <body>
    <h1><%= hacker.name %> Status</h1>
    <h2>Missing Skills for <small><%= level.name %></small></h2>
    <ul>
    <% lackingSkills.forEach(function(skill) { -%>
      <li>
        <h3><%= skill.name %></h3>
        <p><%= skill.description %></p>
        <p><%= skill.levelDescription %></p>
        <h4>Lectures</h4>
        <ul>
        <% skill.lectures.forEach(function(lecture) { -%>
          <li><a href="<%= lecture.url %>"><%= lecture.name %></a></li>
        <% }); -%>
        </ul>
      </li>
    <% }); -%>
    </ul>
  </body>
</html>
