<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacker Assessor | <%= hacker.name %> Status</title>
  </head>
  <body>
    <h1><%= hacker.name %> Status</h1>
    <h2>Skills</h2>
    <ul>
    <% hacker.skills.forEach(function(skill) { -%>
      <li>
        <h3><%= skill.name %> - <%= skill.level %></h3>
      </li>
    <% }); -%>
    </ul>
    <h2>Available Seniorities</h2>
    <ul>
    <% seniorities.forEach(function(seniority) { -%>
      <li>
        <a href="/hackers/<%= hacker.id %>/become/seniority/<%= seniority.id %>"><%= seniority.name %></a>
      </li>
    <% }); -%>
    </ul>
  </body>
</html>
