<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacker Assessor | <%= hacker.name %> Status</title>
  </head>
  <body>
    <h1>For <%= hacker.name %> to become <%= seniority.name %> he needs the following skills:</h1>
    <h2>Lacking Skills</h2>
    <ul>
    <% seniority.requirements.forEach(function(requirement) { -%>
      <h3><%= requirement.name %></h3>
      <p><%= requirement.description %></p>
      <p><%= requirement.levelDescription %></p>
      <p><%= requirement.pathDescription %></p>
      <h4>Lectures</h4>
      <ul>
      <% requirement.lectures.forEach(function(lecture){ -%>
        <li><a href="<%= lecture.url %>"><%= lecture.name %></a></li>
      <% }); -%>
      </ul>
    <% }); -%>
    </ul>
  </body>
</html>
