<nav>
  <!-- img src="assets/logo.svg" alt="Hacker Assessor" class="logo" -->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <% if current_hacker %>
    <%= link_to image_tag(gravatar_link, class: 'avatar') + 'LOGOUT',
                signout_path, method: :delete, class: 'button' %>
    <%= link_to 'Acquirements', acquirements_path, class: 'button' %>
    <%= link_to 'Skills', skills_path, class: 'button' %>
    <%= link_to 'Seniorities', seniorities_path, class: 'button' %>
  <% else %>
    <%= form_tag login_path do |f| %>
      <%= text_field_tag :email, nil, placeholder: 'Email' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
      <%= submit_tag 'LOG IN' %>
      <a href="#">Forgot your password?</a>
    <% end %>
  <% end %>
</nav>
