<aside>
  <!-- img src="assets/logo.svg" alt="Hacker Assessor" class="logo" -->
  <% if current_hacker %>
    <%= link_to 'LOG OUT', signout_path, method: :delete %>
    <img src="http://www.gravatar.com/avatar/<%= md5 current_hacker.email %>" />
    <%= link_to 'Acquirements', acquirements_path %>
    <%= link_to 'Skills', skills_path %>
    <%= link_to 'Seniorities', seniorities_path %>
  <% else %>
    <%= form_tag login_path do |f| %>
      <%= text_field_tag :email %>
      <%= password_field_tag :password %>
      <a href="#"><small>Forgot your password?</small></a>
      <%= submit_tag 'LOG IN' %>
    <% end %>
  <% end %>
</aside>
